# Set the nova default config
{%- set nova_config = {
  "DEFAULT": {
    "debug": "False",
    "verbose": "True",
    "state_path": "/var/lib/neutron",
    "lock_path": "$state_path/lock",
    "core_plugin": "neutron.plugins.ml2.plugin.Ml2Plugin",

  },
